.wrapper {
  flex: 1;
  background: #f8f8f8;
}
.transform {
  height: 500px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .text {
    height: 60px;
    line-height: 60px;
    transform: rotate(180deg) translate(100px);
    background: red;
  }
  .aa {
    width: 100px;
  }
}
.flex {
  flex: 1;
}

@media screen and(max-width: 1000px){
  .body {
    font-size: 12px;
  }
}
