.wrapper {
  flex: 1;
}
.main {
  flex: 1;
  background: #f8f8f8;
  padding: 0 60px 60px;
  .list {
    margin-top: 35px;
    margin-bottom: 28px;
  }
  .caption {
    font: bold 50px/100px;
    color: #333333;
  }
  .p {
    line-height: 76px;
    font-size: 44px;
    color: #999999;
  }
}